<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="defaultConnection" connectionString="Data Source=194.44.93.225;Initial Catalog=BooksDB;User ID=test;Password=1;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
      providerName="System.Data.SqlClient" />
    <add name="linq.Properties.Settings.BooksDBConnectionString"
      connectionString="Data Source=194.44.93.225;Initial Catalog=BooksDB;User ID=test;Password=1;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>